/.vscode
/BAuth/bin
/BAuth/obj
/Kafka/.vs
/Kafka/KafkaServer/kafka_2.11-1.1.0.tgz
/Kafka/KafkaNetCoreConsole/.vs
/Kafka/KafkaNetCoreConsole/bin
/Kafka/KafkaNetCoreConsole/obj
/Prometheus/.vscode
/Prometheus/.vs
/Prometheus/packages
/Prometheus/Net4Console/bin
/Prometheus/Net4Console/obj
/Prometheus/NetCoreConsole/bin
/Prometheus/NetCoreConsole/obj
/Redis/Redis/.vscode
/Redis/Redis/bin
/Redis/Redis/obj
/Redis/Redis/output
/Redis/RedisMvc/bin
/Redis/RedisMvc/obj
/Redis/RedisMvc2/bin
/Redis/RedisMvc2/obj
/Zoo/bin
/Zoo/obj