/Redis/Redis/.vscode
/Redis/Redis/bin
/Redis/Redis/obj
/Redis/Redis/output
/Redis/RedisMvc/obj
/Redis/RedisMvc2/obj
/Zoo/obj
/Prometheus/.vs
/Prometheus/packages
/Prometheus/Net4Console/bin
/Prometheus/Net4Console/obj