/.vs
/.vscode
/packages
/BAuth/bin
/BAuth/obj
/CouchDb/*
/Kafka/.vs
/Kafka/.vscode
/Kafka/KafkaServer/*.tgz
/Kafka/KafkaNetCoreConsole/.vs
/Kafka/KafkaNetCoreConsole/bin
/Kafka/KafkaNetCoreConsole/obj
/Prometheus/.vscode
/Prometheus/.vs
/Prometheus/packages
/Prometheus/Net4Console/bin
/Prometheus/Net4Console/obj
/Prometheus/NetCoreConsole/bin
/Prometheus/NetCoreConsole/obj
/Redis/Redis/*.user
/Redis/Redis/.vscode
/Redis/Redis/bin
/Redis/Redis/obj
/Redis/Redis/output
/Redis/RedisMvc/*.user
/Redis/RedisMvc/bin
/Redis/RedisMvc/obj
/Redis/RedisMvc2/*.user
/Redis/RedisMvc2/bin
/Redis/RedisMvc2/obj
/Zoo/.vs
/Zoo/.vscode
/Zoo/bin
/Zoo/obj